# NBA DATA ANALYSIS

In [235]:
import pandas as pd

file_path = 'nba_2022-23_all_stats_with_salary.csv'

data = pd.read_csv(file_path, encoding='ISO-8859-1')

print(data.head())

   Unnamed: 0        Player Name    Salary Position  Age     Team  GP  GS  \
0           0      Stephen Curry  48070014       PG   34      GSW  56  56
1           1          John Wall  47345760       PG   32      LAC  34   3
2           2  Russell Westbrook  47080179       PG   34  LAL/LAC  73  24
3           3       LeBron James  44474988       PF   38      LAL  55  54
4           4       Kevin Durant  44119845       PF   34  BRK/PHO  47  47

     MP    FG  ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0  34.7  10.0  ...  12.5  31.0  5.8  2.0  7.8  0.192   7.5   0.1  7.5   4.7
1  22.2   4.1  ...  17.1  27.0 -0.4  0.7  0.3  0.020  -0.8  -0.4 -1.2   0.1
2  29.1   5.9  ...  18.4  27.7 -0.6  2.6  1.9  0.044   0.3  -0.1  0.2   1.2
3  35.5  11.1  ...  11.6  33.3  3.2  2.4  5.6  0.138   5.5   0.6  6.1   4.0
4  35.6  10.3  ...  13.4  30.7  4.7  2.1  6.8  0.194   6.0   1.2  7.1   3.9

[5 rows x 52 columns]

In [343]:
#Orginizing the data for better result
data.loc[data["Position"] == 'PG-SG', "Position"] = 'PG'
data.loc[data["Position"] == 'SF-SG', "Position"] = 'SG'
data.loc[data["Position"] == 'SG-PG', "Position"] = 'SG'
data.loc[data["Position"] == 'SF-PF', "Position"] = 'PF'

data.Position.unique()

array(['PG', 'PF', 'SG', 'SF', 'C'], dtype=object)

In [345]:
average_salary = data["Salary"].mean()
average_age = data["Age"].mean()
player_name = data.groupby("Player Name")["Salary"].mean()
highest = player_name.idxmax()

print(f"Average salary in the NBA is: {average_salary}")
print(f"Average age in the NBA is: {average_age}")
print(f"Player name and salaries: {player_name}")
print(f"Highest salary in the NBA belongs to: {highest}")

Average salary in the NBA is: 8416598.74732334
Average age in the NBA is: 25.820128479657388
Player name and salaries: Player Name
AJ Griffin          3536160.0
Aaron Gordon       20690909.0
Aaron Holiday       1968175.0
Aaron Nesmith       3804360.0
Aaron Wiggins       1563518.0
                      ...
Zach Collins        7350000.0
Zach LaVine        37096500.0
Zeke Nnaji          2617800.0
Ziaire Williams     4591680.0
Zion Williamson    13534817.0
Name: Salary, Length: 467, dtype: float64
Highest salary in the NBA belongs to: Stephen Curry

In [349]:
#Finding the most efficient player according to the budget and the age factors
budget = float(input("Please enter your budget: "))
age = float(input("Please enter your age limit: "))
player_bought= []
def most_efficient_player(budget, data, age):
    i = 0
    while i < 466:
        if budget >= data["Salary"][i] and data["Age"][i]<= age:
            budget -=data["Salary"][i]
            player_bought.append(data["Player Name"][i])
            i+=1
        else:
            i+=1
    return(player_bought)
    
players = most_efficient_player(budget, data, age)
print(players)

Please enter your budget:  99999999
Please enter your age limit:  27

['Trae Young', 'Zach LaVine', 'John Collins', 'John Konchar', 'RaiQuan Gray']

In [341]:
#Finding the best first five according to the  budget
budget = float(input("Please give me good budget so I can buy Steph Curry"))
player_list= []
PG_budget = 0.25*budget
PF_budget = 0.15*budget
SG_budget = 0.15*budget
SF_budget = 0.20*budget
C_budget = 0.25*budget
def first_five(p_budget, data):
    i = 0
    k = 0
    
    while i < 466 and k< 1:
        if p_budget >= data["Salary"][i] and data["Player Name"][i] not in player_list:
            p_budget -=data["Salary"][i]
            player_list.append(data["Player Name"][i])
            i+=1
            k+=1
        else:
            i+=1
    return(player_list)
    
first_five(PG_budget, data)
first_five(PF_budget, data)
first_five(SG_budget, data)
first_five(SF_budget, data)
first_five(C_budget, data)
print(player_list)

Please give me good budget so I can buy Steph Curry 9999999999

['Stephen Curry', 'John Wall', 'Russell Westbrook', 'LeBron James', 'Kevin Durant']

## Creating the Dream Team

In [384]:
#Finding the best point guard
player_list= []
highest_score = data.groupby(["Position", "Player Name", "Salary"])["AST"].mean()

def best_PG(data):
    highest_score = data.groupby("Player Name")["AST"].mean()
    pg_players = data.loc[data["Position"] == "PG", ["Player Name", "Salary", "AST"]]

    if not pg_players.empty:
        max_pg_row = pg_players.loc[pg_players["AST"].idxmax()]
        player_name = max_pg_row["Player Name"]
        player_salary = max_pg_row["Salary"]
        max_pg_asisst = max_pg_row["AST"]
        player_list.append([player_name,"PG",player_salary])

        
        print(f"The highest score for a PG is: {max_pg_asisst}")
        print(f"The player is: {player_name} with a salary of {player_salary}")
        return(player_list)
    
best_PG(data)

The highest score for a PG is: 10.7
The player is: James Harden with a salary of 33000000

[['James Harden', 'PG', 33000000]]

In [386]:
#Finding the best Power Forward
highest_score = data.groupby(["Position", "Player Name", "Salary"])["PTS"].mean()

def best_PF(data):
    highest_score = data.groupby("Player Name")["PTS"].mean()
    pg_players = data.loc[data["Position"] == "PF", ["Player Name", "Salary", "PTS"]]

    if not pg_players.empty:
        max_pg_row = pg_players.loc[pg_players["PTS"].idxmax()]
        player_name = max_pg_row["Player Name"]
        player_salary = max_pg_row["Salary"]
        max_pg_score = max_pg_row["PTS"]
        player_list.append([player_name,"PF",player_salary])

        
        print(f"The highest score for a PF is: {max_pg_score}")
        print(f"The player is: {player_name} with a salary of {player_salary}")
        return(player_list)
    
best_PF(data)

The highest score for a PF is: 31.1
The player is: Giannis Antetokounmpo with a salary of 42492492

[['James Harden', 'PG', 33000000], ['Giannis Antetokounmpo', 'PF', 42492492]]

In [388]:
#Finding the best Shooting Guard
highest_score = data.groupby(["Position", "Player Name", "Salary"])["3PA"].mean()

def best_SG(data):
    highest_score = data.groupby("Player Name")["3PA"].mean()
    pg_players = data.loc[data["Position"] == "SG", ["Player Name", "Salary", "3PA"]]

    if not pg_players.empty:
        max_pg_row = pg_players.loc[pg_players["3PA"].idxmax()]
        player_name = max_pg_row["Player Name"]
        player_salary = max_pg_row["Salary"]
        max_pg_score = max_pg_row["3PA"]
        player_list.append([player_name,"SG",player_salary])

        
        print(f"The highest score for SG is: {max_pg_score}")
        print(f"The player is: {player_name} with a salary of {player_salary}")
        return(player_list)
    
best_SG(data)

The highest score for SG is: 9.3
The player is: Donovan Mitchell with a salary of 30913750

[['James Harden', 'PG', 33000000],
 ['Giannis Antetokounmpo', 'PF', 42492492],
 ['Donovan Mitchell', 'SG', 30913750]]

In [390]:
#Finding the best Shooting Forward
highest_score = data.groupby(["Position", "Player Name", "Salary"])["2PA"].mean()

def best_SF(data):
    highest_score = data.groupby("Player Name")["2PA"].mean()
    pg_players = data.loc[data["Position"] == "SF", ["Player Name", "Salary", "2PA"]]

    if not pg_players.empty:
        max_pg_row = pg_players.loc[pg_players["2PA"].idxmax()]
        player_name = max_pg_row["Player Name"]
        player_salary = max_pg_row["Salary"]
        max_pg_score = max_pg_row["2PA"]
        player_list.append([player_name,"SF", player_salary])

        
        print(f"The highest score for a SF is: {max_pg_score}")
        print(f"The player is: {player_name} with a salary of {player_salary}")
        return(player_list)
    
best_SF(data)

The highest score for a SF is: 15.7
The player is: DeMar DeRozan with a salary of 27300000

[['James Harden', 'PG', 33000000],
 ['Giannis Antetokounmpo', 'PF', 42492492],
 ['Donovan Mitchell', 'SG', 30913750],
 ['DeMar DeRozan', 'SF', 27300000]]

In [392]:
#Finding the best Center
highest_score = data.groupby(["Position", "Player Name", "Salary"])["TRB"].mean()

def best_C(data):
    highest_score = data.groupby("Player Name")["2PA"].mean()
    pg_players = data.loc[data["Position"] == "C", ["Player Name", "Salary", "TRB"]]

    if not pg_players.empty:
        max_pg_row = pg_players.loc[pg_players["TRB"].idxmax()]
        player_name = max_pg_row["Player Name"]
        player_salary = max_pg_row["Salary"]
        max_pg_score = max_pg_row["TRB"]
        player_list.append([player_name,"C",player_salary])

        
        print(f"The highest score for a C is: {max_pg_score}")
        print(f"The player is: {player_name} with a salary of {player_salary}")
        return(player_list)
    
best_C(data)

The highest score for a C is: 12.5
The player is: Anthony Davis with a salary of 37980720

[['James Harden', 'PG', 33000000],
 ['Giannis Antetokounmpo', 'PF', 42492492],
 ['Donovan Mitchell', 'SG', 30913750],
 ['DeMar DeRozan', 'SF', 27300000],
 ['Anthony Davis', 'C', 37980720]]

In [412]:
import pandas as pd
df = pd.DataFrame({'Player Name': [player_list[0][0], player_list[1][0], player_list[2][0], player_list[3][0], player_list[4][0]],
                   'Position': [player_list[0][1],player_list[1][1],player_list[2][1],player_list[3][1],player_list[4][1]],
                   'Salary': [player_list[0][2],player_list[1][2],player_list[2][2],player_list[3][2],player_list[4][2]]},
                   columns = ['Player Name', 'Position', 'Salary'])
df

             Player Name Position    Salary
0           James Harden       PG  33000000
1  Giannis Antetokounmpo       PF  42492492
2       Donovan Mitchell       SG  30913750
3          DeMar DeRozan       SF  27300000
4          Anthony Davis        C  37980720

In [416]:
total = 0
for i in range(len(player_list)):
    total+= player_list[i][2]
print(f"The total cost is: {total}")

The total cost is: 171686962

## Player Search Engine

In [549]:
position = input("Enter the position of the player: ")
points = float(input("Enter the point average: (0-33.1)"))
blocks = float(input("Enter the block average: (0-2.5)"))
turnovers = float(input("Enter the turnover average: (0-4.1)"))
steals = float(input("Enter the steal average: (0-3.0)"))
assists = float(input("Enter the assist average: (0-10.7)"))
rebounds = float(input("Enter the rebound average: (0-12.5)"))
k=0


def player_search(position,data, points, blocks, turnovers, steals, assists, rebounds):
    filtered_players = data.loc[
          (data["Position"] == position) &
            (data["PTS"] >= points) &
            (data["BLK"] >= blocks) &
            (data["STL"] >= steals) &
            (data["TOV"] <= turnovers) &
            (data["AST"] >= assists) &
            (data["TRB"] >= rebounds)
        ]
    if position == "PG":
        pg_players_list = filtered_players.loc[filtered_players["Position"] == "PG"]
        
        return pg_players_list
            
        

    elif position == "PF":
        pf_players_list = filtered_players.loc[filtered_players["Position"] == "PF"]
           
        return pf_players_list

    elif position == "SG":
        sg_players_list = filtered_players.loc[filtered_players["Position"] == "SG"]
           
        return sg_players_list

    elif position == "SF":
        sf_players_list = filtered_players.loc[filtered_players["Position"] == "SF"]
           
        return sf_players_list

    elif position == "C":
        c_players_list = filtered_players.loc[filtered_players["Position"] == "C"]
           
        return c_players_list


    else:
        print("Please enter a valid position!")
        

    return best_players
player_search(position,data, points, blocks, turnovers, steals, assists, rebounds)

Enter the position of the player:  PG
Enter the point average: (0-33.1) 20
Enter the block average: (0-2.5) 0.2
Enter the turnover average: (0-4.1) 4
Enter the steal average: (0-3.0) 0.2
Enter the assist average: (0-10.7) 4
Enter the rebound average: (0-12.5) 5

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,...,12.5,31.0,5.8,2.0,7.8,0.192,7.5,0.1,7.5,4.7
11,11,Kyrie Irving,38917057,PG,30,BRK/DAL,60,60,37.4,9.9,...,8.8,28.9,5.4,2.0,7.4,0.159,4.8,-0.7,4.1,3.5
29,29,James Harden,33000000,PG,33,PHI,58,58,36.8,6.4,...,16.3,25.0,5.8,2.6,8.4,0.188,5.1,0.3,5.4,4.0
104,104,Ja Morant,12119440,PG,23,MEM,61,59,31.9,9.3,...,12.6,34.9,3.4,2.6,6.0,0.148,5.2,0.5,5.7,3.8
142,142,LaMelo Ball,8623920,PG,21,CHO,36,36,35.2,8.2,...,14.3,30.0,0.6,1.2,1.8,0.068,3.2,-0.8,2.4,1.4